@charset "utf-8";
/* CSS Document */
	/* Change Autocomplete styles in Chrome*/
	:root {
		--primary-color: #a59149;
		--secondary-color: #111111;
    --secondary-color-light: #393939;
    --secondary-color-lighter: #A5A5A5;
		--primary-color-dark: #8c7a3f;
		--primary-color-darker: #59522e;
		--primary-color-light: #beb462;
		--primary-color-lighter: #f3eedc;
		--quaternary-color: ;
		--background-color: #F6F6F6;
		--background-color-darker: ;
		--hero-color: ;
		--text-color: ;
		--footer-color: ;
		--line-thickness: 2px;
    --timeline-items-width: 15px;
    --timeline-dot-border-width: 2.5px;
    --smallest-text: 1rem;
    --button-text: 1.2rem;
    --font-family: 'Helvetica Neue';
	}
	h2, h2 a {
		font-family: 'Noto Serif', serif;
		font-variant: small-caps;
		color: var(--background-color);
		padding: 0;
		margin: 0;
	}
	@font-face { 
			font-family: var(--font-family); 
			src: url('file:///SSD DRIVE/Users/oisinbeaudelot/Documents/Wedding Website/HTML Files/HelveticaNeue.ttc') format('woff2');
		}
	h3 {
		font-weight: bold;
	}
	h4 {
		font-weight: bold;
	}
	p {
		font-weight: 300;
	}
  a, a:visited, a:hover {
    text-decoration: none;
  }
	.white-color {
		color: var(--background-color);
	}
	body {
		height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: visible;
    margin: 0;
		/*scroll-snap-type: y proximity;*/
		-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
    -webkit-text-size-adjust: 100%;
    font-family: 'Helvetica Neue', sans-serif;
	}
section {
  /*scroll-snap-type: y proximity;*/
}
.scroll-snap-point {
  scroll-snap-align: start;
}
.page-settings {
	width: 100%;
  min-height: 100%; /* OOE and N2K pages height is set manually*/
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}
.page-heading {
	padding-top: 100px;
	margin: auto auto auto 40px;
	width: 80%;
	max-width: 400px;
	text-align: center;
}
	/* <<<<<<<<<<<< Landing Page >>>>>>>>>>>>>> */
	.landing-page {
		background-color:hsla(47,0%,0%,1);
background-image:
radial-gradient(at 67% 78%, hsla(332,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 91% 13%, hsla(94,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 35% 39%, hsla(329,0%,0%,1) 0px, transparent 50%),
radial-gradient(at 98% 97%, hsla(297,0%,24%,1) 0px, transparent 50%),
radial-gradient(at 37% 0%, hsla(104,0%,24%,1) 0px, transparent 50%);
		width: 100%;
		height: 100%;
		background-position: bottom;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	.grid-container {
		height: 30%;
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
		grid-auto-rows: minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 20px;
		text-align: center;
		align-items: center;
	}
	.grid-container > #title {
		align-items: flex-start;
	}
	.home-menu div {
		border-top: 1px solid var(--primary-color);
		margin: 0 auto;
		width: 80%;
		max-width: 300px;
    transition: all 0.35s;
	}
.landing-page .home-menu div:hover {
  transform: scale(1.2);
  transition: all 0.35s;
}
	#title picture, #title img {
		max-width: 100%;
		max-height: 30vh;
	}
	.hero-grid {
		height: 70%;
		display: grid;
		grid-template-columns: minmax(0,1fr) minmax(0, 1fr);
		grid-gap: 20px;
		align-content: flex-end;
		align-items: center;
		text-align: right;
	}
	.hero-grid picture, .hero-grid img {
		max-width: 100%;
		max-height: 60vh;
		opacity: 0.8;
		mix-blend-mode: lighten;
	}
	.hero-message {
		position: relative;
	}
	.hero-message__text {
		text-align: left;
		padding: 20px 30px;
		width: 80%;
		height: 30vh;
		max-width: 500px;
		background-color: var(--primary-color-dark);
		z-index: 2;
		margin: auto auto 5vh auto;
		box-shadow: 10px 10px 0 -2px var(--secondary-color), 10px 10px 0 0 var(--background-color);
	}
/* <<<<<<<<<<<< Need to Know Page >>>>>>>>>>>>>> */
	.need-to-know-page {
		/*background-image: url("images/need-to-know-bg.png");*/
		background-color: var(--secondary-color--);
		background-position: top center;
    height: 100%;
	}

.need-to-know__container, .need-to-know-page > .home-menu, .landing-page {
  z-index: 3;
  position: relative;
}

.img-scroll {
  width: 100%;
  height: 100%;
  position: absolute;
}
.img-scroll__container {
  width: 100%;
  height: 100%;
  overflow: visible;
  position: absolute;
  z-index: 2;
}
.img-scroll__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border: 0vw solid white;
}
/* #blur {
  filter: blur(5px);
  z-index: 2;
}
#no-blur {
  visibility: visible; 
  filter: none;
  z-index: 1;
} */
.need-to-know__container {
	border: var(--line-thickness) solid var(--background-color); 
    margin: 5% 10% 5% 10%;
    height: 60%;
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-auto-rows: minmax(0, 1fr) minmax(0,1fr) minmax(0,1fr);
    grid-gap: 20px;
    text-align: left;
    align-items: top;
	justify-items: center;
}

.need-to-know__grid-item h3 {
	color: var(--primary-color);
}
.need-to-know__grid-item p {
	color: var(--background-color);
}

#need-to-know__scroll-buffer {
  height: 50vh;
  background-color:hsla(50,31%,26%,1);
	background-image:
	radial-gradient(at 63% 74%, hsla(50,31%,26%,1) 0px, transparent 50%),
	radial-gradient(at 27% 18%, hsla(50,31%,26%,1) 0px, transparent 50%),
	radial-gradient(at 35% 81%, hsla(48,22%,38%,1) 0px, transparent 50%),
	radial-gradient(at 13% 50%, hsla(48,23%,38%,1) 0px, transparent 50%),
	radial-gradient(at 51% 44%, hsla(50,31%,26%,1) 0px, transparent 50%);
}
.enable-buffer {
  position: relative;
  height: 50vh;
  margin-top: -20vh;
  z-index: 5;
  background-color: none;
}

/* <<<<<<<<<<<< Destination Page >>>>>>>>>>>>>> */
.destination-page {
  background-color:hsla(50,31%,26%,1);
	background-image:
	radial-gradient(at 63% 26%, hsla(50,31%,26%,1) 0px, transparent 50%),
	radial-gradient(at 27% 82%, hsla(50,31%,26%,1) 0px, transparent 50%),
	radial-gradient(at 35% 19%, hsla(48,22%,38%,1) 0px, transparent 50%),
	radial-gradient(at 13% 50%, hsla(48,23%,38%,1) 0px, transparent 50%),
	radial-gradient(at 51% 56%, hsla(50,31%,26%,1) 0px, transparent 50%);
}
.destination-photos {
	position: absolute;
	width: 40%;
	right: 0px;
	margin-top: -160px;
  z-index: 1;
}
.destination-photos img {
	width: 40%;
	-webkit-box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.3); 
box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.3);
}
.destination-photos--1 img{
	transform: rotate(-6deg) translateX(5%);
	position: relative;
	z-index: 2;
}
.destination-photos--2 img{
	transform: rotate(2deg) translate(-15%,8%);
	position: relative;
	z-index: 1;
}
.destination-photos--3 img{
	transform: rotate(2deg) translate(15%,-20%);
	position: relative;
	z-index: 3;
}
.destination-photos--4 img{
	transform: rotate(3deg) translate(-10%,-25%);
	position: relative;
	z-index: 4;
}
.destination-text {
	margin: 50px auto auto 100px;
	width: 50%;
	max-width: 500px;
}
.destination-text h3, .destination-text p {
	margin: 0 0 5px 0;
	color: var(--background-color);
}


/* <<<<<<<<<<< CSS Accordion >>>>>>>>>> */
.destination-text__ways-to-travel {
	margin-bottom: 1em;
}
.destination-text__ways-to-travel input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.destination-text__ways-to-travel h4 {
	margin-bottom: 0;
}
.destination-text__ways-to-travel ul {
	margin: 0;
}
.destination-text__row {
  display: flex;
}
.destination-text__row .destination-text__col {
  flex: 1;
}
.destination-text__row .destination-text__col:last-child {
  margin-left: 1em;
}

/* Accordion styles */
.destination-text__tabs {
  overflow: hidden;
}

.destination-text__tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.destination-text__tab-label {
  display: flex;
  background: none;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.35s;
  /* Icon */
}
.destination-text__tab-label:hover {
  background: none;
	text-decoration: underline;
}
.destination-text__tab-label::before {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
	text-decoration: none;
}
.destination-text__tab-label::before:hover {
	text-decoration: none;
} 
.destination-text__tab-content {
  max-height: 0;
  color: var(--background-color);
  background: none;
  transition: all 0.35s;
}

input:checked + .destination-text__tab-label {
  background: none;
}
input:checked + .destination-text__tab-label::before {
  transform: rotate(90deg);
}
input:checked ~ .destination-text__tab-content {
  max-height: 100vh;
}
/* CSS Accordion Paddings */
.destination-text__tab {
  padding: 1em 0 0 0;
}
.destination-text__tab-content {
  padding-top: 0.5em;
  padding-left: 0;
}
input:checked + .destination-text__tab-label {
  padding: 0;
}
input:checked ~ .destination-text__tab-content {
  	padding-top: 0.5em;
	padding-left: 1em;
}
.page-watermark {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 50%;
	max-width: 600px;
	margin: 0;
	padding: 0;
}
.page-watermark img {
	display: block;
	mix-blend-mode: darken;
}

/* <<<<<<<<<<<< Order of Events Page >>>>>>>>>>>>>> */

.order-of-events-page {
	background-color: var(--secondary-color);
  height: 100%;
}

.timeline-main {
  height: calc(80% - 150px);
  margin: 5% 10% 5% 10%;
}
.timeline-container {
  position: relative;
  height: 100%;
  width: var(--timeline-items-width);
}
#timeline__line {
  height: 100%;
  width: 100%;
}
.timeline__line__container {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  height: 100%;
  width: var(--timeline-dot-border-width);
}
#timeline__line path {
  stroke-width: 1000px;
  stroke: var(--primary-color);
}
.timeline-items {
  margin-left: calc( var(--timeline-dot-border-width ) * -1 );
  margin-top: calc( var(--timeline-dot-border-width ) * -1 );
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.timeline-item {
  height: var(--timeline-items-width);
  transition: 0.2s ease-in-out;
  position: relative;
}
.timeline-item__text {
  margin-left: calc( var(--timeline-items-width) + 10px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50vw; /*This may need to be adjusted, it's fixed because of the animation to 50vw when scaled up*/
}
.timeline-item__text a, .timeline-item__text a:visited, .timeline-item__text a:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.timeline-item__time {
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 20pt;
  font-weight: 800;
  letter-spacing: .1rem;
  color: var(--secondary-color);
  text-shadow: -1px -1px 0 var(--primary-color), 1px -1px 0 var(--primary-color), -1px 1px 0 var(--primary-color), 1px 1px 0 var(--primary-color);

}
.timeline-item__heading {
  margin-left: 5px;
  font-family: Helvetica, Arial, "sans-serif";
  font-size: 16pt;
  font-weight: 100;
  color: var(--primary-color);
}
.dot {
  position: absolute;
  height: var(--timeline-items-width);
  width: var(--timeline-items-width);
	background-color: var(--secondary-color);
	border-radius: 50%;
  border-style: solid;
  border-width: var(--timeline-dot-border-width);
  border-color: var(--primary-color);
  transition: 0.2s ease-in-out;
}
.timeline-item:hover {
  height: 70px;
  margin-bottom: calc(var(--timeline-items-width) * -1);
}
.timeline-item:hover .dot {
  background-color: white;
  border-color: white;
  transform: scale(150%,150%);

}

.timeline-item:hover .timeline-item__text {
  width: 50vw;
  border: 5px solid white;
  padding: 10px;
  display: block;
  top: 0;
  transform: translateY(-25px);
  height: 60px;
  background-color: var(--secondary-color);
  z-index: 3;
}

.timeline-item:hover .timeline-item__time {
  color: white;
  text-shadow: none;
  letter-spacing: none;
}
.timeline-item:hover .timeline-item__heading {
  color: white;
}
.timeline-item__description {
  display: none;
  visibility: hidden; 
  color: white;
  font-size: 0.9rem;
  line-height: 1.1rem;
  font-weight: 200;
}
.timeline-item:hover .timeline-item__description {
  display: block;
  visibility: visible; 
}
/* <<<<<<<<<<<< FAQs Page >>>>>>>>>>>>>> */
.faqs-page {
  background-color: #014431;
}


/* <<<<<<<<<<<< Contact Page >>>>>>>>>>>>>> */
.contact-page h2 {
  color: var(--secondary-color);
}
  ::-webkit-input-placeholder { /* Edge */
    color: var(--primary-color-dark);
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--primary-color-dark);
  }
  ::placeholder {
    color: var(--primary-color-dark) ;
  }
.placeholder--submitted::-webkit-input-placeholder { /* Edge */
    color: var(--secondary-color-lighter);
  }
.contact-form__container {
  position: relative;
	border: var(--line-thickness) solid var(--primary-color); 
  margin: 2% 10% 2% 10%;
  height: auto;
  text-align: left;
  align-items: top;
	justify-items: center;
}
.contact-form__contents {
  position: relative;
  height: 100%;
  margin: auto 3%;
}
.contact-form__grid-item h3 {
	color: var(--primary-color);
  margin-bottom: 0;
}
.contact-form__grid-item input:focus, .contact-form__grid-item textarea:focus {
	outline-width: 2px;
  outline-style: solid;
  outline-color: var(--primary-color);
}
.contact-form__text-field {
  font-family: Helvetica, Arial, "sans-serif";
  width: 100%;
  background-color: var(--primary-color-lighter);
  border: none;
  padding: 8px 0px 8px 8px;
  margin: 3px 0;
  font-size: var(--smallest-text);
  font-weight: 100;
}
/* Radio Buttons */

.contact-form__radio-button {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px 0;
  cursor: pointer;
  font-size: var(--smallest-text);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--secondary-color-lighter);
}
/* Hide the browser's default radio button */
.contact-form__radio-button input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.contact-form__radio-button:hover input ~ .checkmark {
  background-color: #ccc;
}
.contact-form__radio-button:hover {
  color: var(--secondary-color-light);
}
.contact-form__radio-button input:checked ~ .radio-text  {
  color: var(--secondary-color);
}

/* When the radio button is checked, add a blue background */
.contact-form__radio-button input:checked ~ .checkmark {
  background-color: var(--background-color);
  border: 2px solid var(--primary-color);
  height: 19px;
  width: 19px;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.contact-form__radio-button input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.contact-form__radio-button .checkmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--primary-color);
}
input[type=submit] {
  background-color: var(--primary-color);
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15%;
  font-size: var(--button-text);
  font-family: var(--font-family);
}

.contact-form__submit {
  text-align: center;
  display: block;
  height: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
}
.spacer {
  height: 20px;
}
/* <<<<<<<<<<Mobile Aspect Ratio >>>>>>>>>>>>>>>*/
@media (max-aspect-ratio: 29/34) or (max-width: 500px) {
  
  :root {
		--line-thickness: 2px;
    --timeline-items-width: 15px;
    --timeline-dot-border-width: 2.5px;
    --smallest-text: 2.5rem;
    --button-text: 3.5rem;
	}
  
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  .page-heading, .home-menu div {
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
  }
  .page-heading {
    padding-top: 100px;
  }
  .home-menu div {
    padding-top: 10px;
  }
  .timeline-main { 
    height: calc(90% - 150px);
    margin: 5% 10% 5% 10%;
  }
  
  	/* <<<<<<<<<<<< Landing Page >>>>>>>>>>>>>> */
  .landing-page {
    min-height: 100%;
    height: auto;
  }
	.grid-container {
		height: 50%;
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-auto-rows: minmax(0, 1fr) minmax(0, 1fr);
		grid-gap: 20px;
    align-items: flex-start;
	}
	.grid-container .home-menu div {
    margin-top: 50px;
		width: 80%;
		max-width: 300px;
	}
	#title picture, #title img {
		max-width: 90%;
		max-height: 30vh;
	}
  #title {
    grid-row: 2;
    grid-column: span 2;
  }
  .grid-item-3 {
    grid-row: 4;
    grid-column: span 2;
  }
	.hero-grid {
		height: 100%;
		grid-template-columns: minmax(0,1fr);
    grid-template-rows: 50vh 50vh;
	}
	.hero-grid picture, .hero-grid img {
		max-width: 100%;
		max-height: 50vh;
	}
	.hero-message__text {
		padding: 20px 30px;
		width: 80%;
		height: 50vh;
		margin: auto auto 40px auto;
	}
  
  
  /* <<<<<<<<<<<< Contact Page >>>>>>>>>>>>>> */

.contact-form__container {
  min-height: 80vh;
  margin: 20px 40px;
}
.contact-form__contents {
  margin: 0 20px;
  min-height: 80vh;
  margin-bottom: 50px;
}
  .contact-form__contents h3 {
    margin: 0;
    padding: 3rem 0 0 0;
  }
  .contact-form__submit {
    width: 100%;
    height: 0;
  }
.contact-form__submit input {
  height: 5rem;
}



}